.rightbar{
    backdrop-filter: blur(5px);

 width: 70%;
}
.header{
font-size: 1.5rem;
}
.header .nav-link:hover{
font-weight: bold;
transition: color 0.3s ease, font-size 0.3s ease;


}
.header .navbar-brand:hover{
font-weight: bold;
color: blue;
transition: color 0.3s ease, font-size 0.3s ease;

}
.nav-link {
  color: #ff6600 !important; /* your custom color */
}
.navbar-brand{
      color: #ff6600 !important; /* your custom color */
}
.admin-layout{
  display: flex;


}
.sidebar{
backdrop-filter: blur(5px);
display: flex;
  flex-direction: row;
  width: 30%;
}